In [4]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

___
# 1. Merge All AFDB Dataset into one CSV

In [12]:
import os

dataset_folder = 'dataset/'
filenames = []
for filename in os.listdir(dataset_folder):
    if filename.find("sequence_16s_2_ch.csv") > -1 and filename.find("AFDB_") > -1:
        filenames.append(filename)

In [13]:
filenames

['AFDB_04015_sequence_16s_2_ch.csv']

In [14]:
dfs = []
for name in filenames :
    df = pd.read_csv(dataset_folder + name, header=None)
    dfs.append(df)

In [15]:
dfs_all = pd.concat(dfs, ignore_index=True)

In [16]:
dfs_all.tail()

,0,1,2,3,4,5,6,7,8,9,...,7991,7992,7993,7994,7995,7996,7997,7998,7999,8000
34,0.020966,0.006615,-0.003311,-0.019876,-0.023163,-0.022021,-0.038578,-0.024138,-0.022955,-0.023950,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
35,-0.000728,-0.000952,-0.001176,-0.014042,-0.016372,-0.006058,0.010583,-0.002266,-0.000354,0.012111,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
36,-0.177102,-0.083226,0.259867,0.305790,0.328916,0.333839,0.313721,0.293728,0.271592,0.265618,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
37,0.160695,0.123787,0.109377,0.103964,0.082797,0.066124,0.040442,0.034996,0.016034,0.010551,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
38,0.086286,0.103435,0.125031,0.153294,0.183778,0.300955,0.484815,0.628647,0.712436,0.756179,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF

In [17]:
dfs_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Columns: 8001 entries, 0 to 8000
dtypes: float64(8000), object(1)
memory usage: 2.4+ MB

In [18]:
dfs_all.to_csv(dataset_folder + "AFDB_all.csv", index=None, header=None)

___
# 2. Merge All NSRDB Dataset into one CSV

In [19]:
dataset_folder = 'dataset/'
filenames = []
for filename in os.listdir(dataset_folder):
    if  filename.find("sequence_16s_2_ch.csv") > -1 and filename.find("NSRDB_") > -1:
        filenames.append(filename)

In [20]:
filenames

['NSRDB_NSRDB record_16265_sequence_16s_2_ch.csv']

In [21]:
normal_dfs = []
for name in filenames :
    normal_df = pd.read_csv(dataset_folder + name, header=None)
    normal_dfs.append(normal_df)

In [22]:
normal_dfs_all = pd.concat(normal_dfs, ignore_index=True)

In [23]:
normal_dfs_all.tail()

,0,1,2,3,4,5,6,7,8,9,...,7991,7992,7993,7994,7995,7996,7997,7998,7999,8000
77,0.021156,0.011790,0.002424,-0.011178,-0.024779,-0.017204,-0.009629,-0.010523,-0.011417,-0.005956,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,N
78,0.041913,0.040776,0.039638,0.042782,0.045925,0.049068,0.052211,0.048932,0.045653,0.048795,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,N
79,-0.016565,-0.019446,-0.022328,-0.016769,-0.011211,-0.007760,-0.004308,-0.005072,-0.005835,-0.002371,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,N
80,0.154396,0.052009,-0.050379,-0.099660,-0.148940,-0.000658,0.147624,0.546586,0.945547,0.972773,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,N
81,0.013561,0.016992,0.020422,0.025960,0.031497,0.032820,0.034143,0.039680,0.045217,0.059183,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,N

In [24]:
normal_dfs_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Columns: 8001 entries, 0 to 8000
dtypes: float64(8000), object(1)
memory usage: 5.0+ MB

In [25]:
normal_dfs_all.to_csv(dataset_folder + "NSRDB_all.csv", index=None, header=None)

___
# 3. Remove Normal Sample from AFDB (train & test)

In [27]:
dfs_all_AF = dfs_all[dfs_all[8000] == 'AF']

In [28]:
dfs_all_AF.tail()

,0,1,2,3,4,5,6,7,8,9,...,7991,7992,7993,7994,7995,7996,7997,7998,7999,8000
34,0.020966,0.006615,-0.003311,-0.019876,-0.023163,-0.022021,-0.038578,-0.024138,-0.022955,-0.023950,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
35,-0.000728,-0.000952,-0.001176,-0.014042,-0.016372,-0.006058,0.010583,-0.002266,-0.000354,0.012111,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
36,-0.177102,-0.083226,0.259867,0.305790,0.328916,0.333839,0.313721,0.293728,0.271592,0.265618,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
37,0.160695,0.123787,0.109377,0.103964,0.082797,0.066124,0.040442,0.034996,0.016034,0.010551,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
38,0.086286,0.103435,0.125031,0.153294,0.183778,0.300955,0.484815,0.628647,0.712436,0.756179,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF

___
# 4. Concate AFDB & NSRDB Dataset

In [29]:
dfs_AF_N = pd.concat([dfs_all_AF, normal_dfs_all])

___
# 5. Balancing Dataset (After Concating with NSRDB)

In [30]:
dfs_AF_N[8000]=dfs_AF_N[8000]
equilibre=dfs_AF_N[8000].value_counts()

print(equilibre)

N     82
AF    12
Name: 8000, dtype: int64

In [32]:
from sklearn.utils import resample

dfs = []
n_samples = equilibre.mean().astype(np.int0())
print("Resample to", n_samples)
for i, key in enumerate(equilibre.keys()):
    dfs.append(dfs_AF_N[dfs_AF_N[8000]==key])
    dfs[i]=resample(dfs[i],replace=True,n_samples=n_samples,random_state=123)
df_AF_N_balanced =pd.concat(dfs)

Resample to 47

In [33]:
df_AF_N_balanced.to_csv(dataset_folder + "AFDB_NSRDB_all.csv", index=None, header=None)